<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cipher Saver</title>
  </head>
  <body>
    <nav class="navbar">
      <h1>Cipher Saver</h1>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/about">About us</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <ul>
      <li>Phone:0123 456 789</li>
      <li>Email:ciphersaver@gmail.com</li>
    </ul>
  </body>
</html>
