<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cipher Saver</title>
    <script
      src="https://kit.fontawesome.com/a3a1047f37.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <div class="header">
    <nav class="navbar">
      <h1>Cipher Saver</h1>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/about">About us</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <br />

    <div class="hero-section">
      <i class="fa-brands fa-cc-paypal"></i>
      <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-visa"></i>
      <i class="fa-brands fa-amazon-pay"></i>
      <i class="fa-brands fa-cc-apple-pay"></i>
    </div>
  </div>

  <body>
    <script src="app.js"></script>
  </body>
</html>
