<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cipher Saver</title>
  </head>
  <body>
    <nav class="navbar">
      <h1>Cipher Saver</h1>
      <a href="/">Home</a>
      <a href="/services">Our Services</a>
      <a href="/about">About us</a>
      <a href="/contact">Contact Us</a>
    </nav>
    <h3>Our Services</h3>
    <li>Emergency Fund</li>
    <li>Retirement Savings</li>
    <li>Short-Term Savings</li>
    <li>Long-Term Savings</li>
    <li>Education Savings</li>
    <li>Debt Repayment Savings</li>
    <li>Down Payment Savings</li>
    <li>Investment Fund</li>
    <li>Sinking Fund</li>
    <li>Charity Fund</li>
    <li>Vacation Fund</li>
    <li>Health Savings</li>
  </body>
</html>
